
.pet-card img {
    border-radius: 1rem;
}
.text-center button {
    color: white;
    border: none;
}
.text-center button:hover {
    background-color: #ff4081;
    color: white;
}
.adoption-form{
    border-radius: 8px;
}