
.pet-card img {
    border-radius: 1rem;
}
.text-center2 button {
    background-color: #64b5f6;
    color: white;
    border: none;
}
.text-center2 button:hover {
    background-color: #ff4081;
}
.adoption-form{
    border-radius: 8px;
}
.pet-container{
    display: flex;
    justify-content: center;
}