.appointment-container, .adoption-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em;
}
.appointment-container label{
    font-weight: 600;
    color: #444444;
}

.appointment-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.appointment-container form input, select{
    height: 40px;
    font-size: 1rem;
}
.schedule-information, .adoption-information{
    display: flex;
    width: 100%;
    gap: 1em;
    padding: 1em;
}
.adoption-information{
    flex-direction: column-reverse;
}

.schedule-information h2{
    color: #888888;
}
.colUser, .colPet{
    height: 100%;
    width: 100%;
}

.rowSchedule{
    padding: 1em;
}
.rowSchedule input{
    width: 15svw;
}

.rowSchedule, 
.rowFullName, 
.rowEmailApp, 
.rowContact, 
.rowAddress,
.rowPetType, 
.rowPetName, 
.rowPetAge,
.rowService,
.rowPetWeight,
.rowReason,
.rowPetImage,
.rowPetGender,
.rowPetBreed{
    display: flex;
    flex-direction: column;
}
.rowFullName, 
.rowEmailApp,
.rowContact, 
.rowAddress,
.rowPetType, 
.rowPetName, 
.rowPetAge,
.rowService,
.rowPetWeight,
.rowReason,
.rowPetGender,
.rowPetBreed{
    margin: 1em 0;
}

.rowPetImage{
    align-items: center;
}
.rowPetImage img{
    width: 50%;
    height: 50%;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formBtn-container,
.appointmentBtn-container,
.profileBtn-container{
    display: flex;
    flex-direction: row-reverse;
}
.formStatus-container{
    display: flex;
    justify-content: center;
}

.appointmentStatus-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.rowStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowStatus select{
    border: 1px solid #000 !important;
}
.rowStatus label {
    display: flex;
    justify-content: center;
}
.rowReason textarea{
    padding: 0.5em;
}