*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 90svh;
    background-color: #f8f9fa;

}
.register-container{
    height: 90svh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authForm, .adminForm{
    width: clamp(10vw, 500px, 90vw);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(40, 5, 241, 0.1);
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif
}

.formHeader{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #133e87 ;
}

form span{
    margin-top: 2px;
    color: #FF0000;
}

.rowName{
    display: flex;
}

label{
    margin-bottom: 0.5em;
}
.colFirstName{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.colLastName{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.colFirstName, .colLastName{
    padding: 0.5em;
}


input, select{
    border: none;
    border-bottom: 1px solid #000;
    padding: 0.5em;
}

input:focus{
    outline: none;
}

.rowEmail, .rowPassword, .rowConfirmPassword{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.consent{
    padding: 0.5em;
}

.consent h4{
    font-size: 1.5rem;
    border-bottom: 2px solid #133e87;
}
.container-check{
    margin-top: 1em;
}
.privacy-check{
    margin-top: 0.5em;
}

.registerBtn, .loginBtn{
    margin-top: 1em;
    border: none;
    color: #fff;
    background-color: #0d6efd;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
}
.login-link{
    display: flex;
    justify-content: center;
}

.addAdmin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.addAdmin-container, table{
    margin: 1em;
}