.consultation-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em;

}
.consultation-container label{
    font-weight: 600;
    color: #444444;
}

.consultation-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.consultation-container form input, select{
    height: 40px;
    font-size: 1rem;
}
.medication-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1em;
}

.medication-information h2{
    margin-bottom: 0.5em;
    border-bottom: 2px solid #133e87;
}
.colMed{
    display: flex; 
    flex-direction: column;
}

.rowCurMed,
.rowAllergies,
.rowPrevIllness,
.rowSymptoms{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.rowSymptoms textarea{
    padding: 0.5em 1em;
    font-size: 1rem;
    height: 10em;
    resize: none;
}